.calculator {
  margin-left: 30%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3px;
  padding: 10px;
  background-color: #858e9b;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 35vw;
  height: 70vh;
}

.Calculator {
  position: fixed;
  right: 50px;
  bottom: 30px;
}

.quoteBox {
  margin: 50px 30px;
  width: 50%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
  border-radius: 10px;
}

.quote {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

.display {
  grid-column: 1 / span 4;
  padding: 20px;
  font-size: 48px;
  text-align: right;
  color: #fff;
  background-color: #858e9b;
  border-radius: 10px;
  box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.2);
}

button {
  border: none;
  border-radius: 5px;
  font-size: 36px;
  padding: 20px;
  background-color: #e0e0e0;
  color: #21252b;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:active {
  background-color: #bdbdbd;
}

.equal {
  background-color: #f59e0b;
  color: #fff;
  border-radius: 5px;
}

.operator {
  background-color: #f59e0b;
  color: #fff;
}

button.zero {
  grid-column: 1 / span 2;
  border-radius: 5px;
}
