.App {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

h1 {
  font-size: 4em;
  font-weight: 700;
  margin: 10px 20px;
  padding: 0;
}

.calculator {
  position: fixed;
  right: 250px;
  bottom: 50px;
}

.quote {
  position: absolute;
  top: 200px;
  left: 20px;
  font-size: 28px;
  font-weight: 600;
}
